@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.block__anim {
  margin: 0 auto;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
}

.block {
  margin: 0 auto;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
}

.block__logo {
  padding-top: 2.5%;
  width: 30%;
  margin: 0 auto;
}

.block__logo a {
  text-decoration: none;
  color: black;
}

.logo__up h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}

.logo__down p {
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  letter-spacing: 2px;
}

.block__menu {
  padding: 1.5% 0 1% 0;
  margin: 0 auto;
  font-family: "Didact Gothic", sans-serif;
  width: 60%;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.item {
  padding: 0 3% 0 3%;
  margin-right: 10px;
}

.item a {
  text-decoration: none;
  color: #464553;
  letter-spacing: 5px;
  font-size: 14px;
  text-align: center;
}

.item a:hover {
  color: rgba(70, 69, 83, 0.5);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10px auto;
  height: 600px;
}

.slideshow-container img {
  margin: 0 auto;
  width: 100%;
  padding: 2% 0 2% 0;
}

.block .block__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.block .block__line {
  margin: 2% auto;
  border-top: 0.5px rgba(70, 69, 83, 0.5) solid;
}

.block .block__down {
  padding: 2% 0 5% 0;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 5px;
}

.block .block__down p {
  text-decoration: none;
  color: #464553;
}

.block .block__title {
  padding: 2% 0 2% 0;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 5px;
}

.block .block__title a {
  text-decoration: none;
  color: #464553;
}

.block .block__title a:hover {
  color: rgba(70, 69, 83, 0.5);
}

.block__photo .photo__item {
  width: 250px;
  height: 300px;
  padding: 0 10px;
}

.block__photo .photo__item img {
  width: 100%;
}

.block__photo .photo__item img:hover {
  opacity: 0.8;
}

.block__anim {
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  -webkit-transition: 1s;
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  -webkit-animation: show 2s 1;
  animation: show 2s 1;
  /* Указываем название анимации, её время и количество повторов*/
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  /* Задержка перед началом */
}

.slide__anim {
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  -webkit-transition: 1s;
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  -webkit-animation: show 2s 1;
  animation: show 2s 1;
  /* Указываем название анимации, её время и количество повторов*/
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  /* Задержка перед началом */
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .block__logo {
    padding-top: 2.5%;
    width: 100%;
    margin: 10px 0;
  }
  .logo__up h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0 auto;
  }

  .logo__down p {
    font-family: "Courier Prime", monospace;
    margin: 0 auto;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .block__menu {
    margin: 0 auto;
  }
  .menu__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item a {
    text-decoration: none;
    color: #464553;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
  }
  .item {
    padding: 0 0 0 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  #item__obj {
    display: none;
  }


  .slideshow-container {
    height: 250px;
  }

  .block__title a {
    font-size: 20px;
  }
  .block__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .photo__item {
    padding: 0;
    margin: 20px auto;
  }
  .block__photo .photo__item {
    width: 250px;
    height: 300px;
    padding: 0;
  }
  .block__line {
    display: none;
  }
  .block__down p{
    margin: 50px 0 0 0;
  }
}
