.block__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block__photo .photo__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.block__photo .photo img {
    width: 99%;
    margin: 5px 0 5px 0;
}

.block .block__down {
    padding: 15% 0 5% 0;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
}

.block .block__down p {
    text-decoration: none;
    color: #464553;
}


@media screen and (max-width:500px) {
    .block__photo {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    .block__photo .photo__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .block__photo .photo img {
        width: 99%;
        margin: 5px 0 5px 0;
    }
    
    .block .block__down {
        padding: 15% 0 5% 0;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        letter-spacing: 5px;
    }
    
    .block .block__down p {
        text-decoration: none;
        color: #464553;
    }
}